/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main figure.mainphoto{
    float: right;
    min-width: 33%;
    margin-left:  2%;
    margin-right: 2%;

}
main figure.mianphoto img figcaption{
  
   text-align: center;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */