/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 1020px) {
/*----------- HEADER -----------*/
header img {
    width: 15rem;
    float: left;}
header h1{
    font-size: 4rem;
    margin-top: 2.5rem;
}
header h2{
    font-size:2.5rem;
    margin-top: 1.5rem;
}
/*--------- NAVIGATION ---------*/
button{display: none;
}
nav ul {margin-left: 2%;}
nav ul li {float: left;}

nav ul li a{padding: .6rem .5rem;
            font-size: 1.5rem;}
nav ul.hide{display: block;}


/*----------- BODY -------------*/


/*------------ MAIN ------------*/

/*-------------FORM-------------*/

/*----------- FOOTER -----------*/
}