/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|PT+Sans+Narrow|Raleway:200i');
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

main{
    max-width: 110rem;
    margin:auto;
}
body{
    background-color:#dfdfdf;
}
/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #517b8d;
    display: grid;
    grid-template-rows: 15% auto;
    font-family: 'Great Vibes', cursive;
    color: #dfdfdf;
}
header img{
    float: left;
    width: 10rem;
}
header h1,h2{
    text-align: center;
    margin: .25rem;
    padding: .25rem;
    

}
header h1{
    margin-top: 1rem;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
header h2{
    font-size: 1rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
/*----------- NAVIGATION --------------*/
button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    color:#517b8d;
}
nav {
    background-color: rgba(81, 181, 224, 0.342);
    font-family: 'PT Sans Narrow', sans-serif;   
    max-width: 110rem;
    margin:auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .33rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    color: #517B8D;
}


nav ul li a:hover {
    background-color: #dfdfdf;
    color: #51B5E0;
}
nav ul li.active a {
    background-color: #8f8f8f;
    color: #517B8D;
}
nav ul li.active a:hover {
    background-color:  #8f8f8f;
    color: #51B5E0;
}
nav ul.hide{display: none;}
/*----------- MAIN --------------*/
main{
    background-color: rgba(223, 223, 223, 0.596);
    font-family: 'PT Sans Narrow', sans-serif;    
}

div.mainpage{
    display: flex;
    flex-wrap: wrap;

}
div.mainpage article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
.pita{
    opacity: .8;
}
div.mainpage article.article0{
    position: relative;
    text-align: center;
    color: #DFDFDF;
    width: 100%;
}
div.mainpage article.article0 .texttop{
    position: absolute;
    bottom: 60%;
    font-family: 'Great Vibes', cursive;
    z-index: 1;
    font-size:1.5rem;
}
div.mainpage article.article0 .text1{
    position: absolute;
    display: none;
    bottom: 71%;
    z-index: 1;
    font-size: 1rem;
}
div.mainpage article.article0 .text2{
    display: none;
    position: absolute;
    bottom: 45%;
    z-index: 1;
}
div.mainpage article.article0 .text3{
    position: absolute;
    bottom: 3%;
    left: 30%;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #517B8D;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    padding: .5rem;
    transition-duration: .05s;
    z-index: 1;
}
div.mainpage article.article0 .text3:hover{
    box-shadow: 0 4px 8px 0 #DFDFDF, 0 6px 20px 0 #DFDFDF;
}
div.mainpage article.article0 .textbottom{
    display: none;
    position: absolute;
    bottom: 0%;
}
div.mainpage article.article0 img{
    display: flex;
    width:100%;
}
div.mainpage article.article0 h1{
    padding: 0 1%;
    margin: 0 1%;
    
}
div.mainpage article.article1{
    width: 98%;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-direction: column;

}
div.mainpage article.article1 h1{
    font-size: 1.5rem;
    padding: 0;
}
div.mainpage article.article1 h2{
    font-size: 1.2rem;
    padding: 0;
}
div.mainpage article.article1 img{
    width: 60%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}      
figcaption{
    text-align: center;
}
div.mainpage article.article2{
    width: 98%;
    flex-direction: row;
    margin: 1%;
    font-size: 1.2rem;
}
div.mainpage article.article2 img{
    width: 95%;
    padding: 1rem;
    margin: 1rem;
    float: left;
}
div.mainpage article.article2 p{
    display: block;
    column-count: 1;
    padding: .7rem;
    font-size: 1.2rem;
}
.templeactivities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
div.mainpage article.article3{
    margin: 1%;
    padding: .5rem;
}
div.mainpage article.article3 section{
    width: 100%;
    height: 85%;
   align-items: center;
}
div.mainpage article.article3 img{
    width: 90%;
    margin: 0 .5rem;

}
div.mainpage article.article3 h1 {
    margin: .5rem 1%;
    padding: .5rem 1%;
}
div.mainpage article.article3 h2 {
    margin: .5rem;
    padding: .5rem;
}
div.mainpage article.article3 h4 {
    margin: .5rem;
    padding: .5rem;
}
div.servicesflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
div.servicesflex section.servicestop li{
    font-size: 1.2rem;
}
section.services{
    border: 1px solid #517B8D;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    transition: all .15s ease-in-out;
}
section.services:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px #51B5E0;
}
div.servicesflex section.services img{
    width: 100%;
}
div.servicesflex section.services a{
    text-decoration: none;
    color: #000;
}

div.weddingflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;   
    align-content: center;
}
div.weddingflex section article img{
    max-width: 100%;
}
article.reception{
    max-width: 650px;
}
main div.missionsuite{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.missionsuite figure img{
    width: 100%;
}
div.missionsuite figure img:hover{
    box-shadow: 0 0 10px #517B8D;
}
main div.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
}
.submitbtn{
    border: none;
    background-color: #51B5E0;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem;
    max-width: 20rem;
}
.submitbtn:hover{
    box-shadow: 0 0 10px #517B8D;
}
section.weather{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem;
    background-color: #517B8D;
}
section.currentweather{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
}
section.currentweather article{
    margin: 1rem;
}
div.temples{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
div.temples article{
    margin: 1rem;
}
/*------------FORM--------------*/
form fieldset{
    display: flex;
    margin: 2rem 0;
    border: 1px solid #51B5E0;
    border-radius: 5px;
    padding: .5rem 2%;
 }
form legend{
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div{
    
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}
form label.top input, form label.top select{
    
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 130px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color:rgba(81, 181, 224, 0.158);
}
form label.sbs{
    
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn{
    border: none;
    background-color: #51B5E0;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid  6px;
}
form label.top input:required:valid{
    border-left: #648af2 solid 6px;
}
fieldset{
    max-width: 313px;
}

.thankslogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #517b8d ;
    padding: .2rem 1%;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1rem;;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #dfdfdf;
}

footer p{
    font-size: .8rem;
    text-align: left;
    list-style-type: none;
    display: block;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
    column-count: 2;
    column-rule-width: 2rem;
}
footer p a{
    font-weight: bold;
    font-size:1rem;    
}
footer p.date{
    text-align: center;
    padding: 1rem;
    font-size:.8rem;
}
footer p a.titles{
    color: #000;
}
footer p a.address{
    font-size: 1rem;
}
footer p a.email{
    font-size: 1rem;
}
div.end{
    margin-top: 1rem;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}