/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #6965db;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 16% auto;
}
header img {
            float: left;
            margin-right: 10px;
            width: 100%;}
header h1 {
            margin: 0;
            font-size: 1.25rem;
            color: #ffa62f;
            text-align: center;
}
header h2 {
        font-weight: normal;
        font-size: .9rem;
        color: #ffa62f;
        margin: 0;
        text-align: center;
    }

/*----------- NAVIGATION --------------*/
button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    color:#ffa62f
}
nav {
    background-color: #648af2;
    font-family: 'Roboto', sans-serif;
    
 }
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .33rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    color: #ffd62f;
}


nav ul li a:hover {
    background-color: #33509e;
    color: #ffd62f;
}
nav ul li.active a {
    background-color: #6965db;
    color: #ffd62f;
}
nav ul.hide{display: none;}
/*----------- MAIN --------------*/
main {
    padding: 1rem 1%;
    min-height: 10rem;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif
}
main .skyhero{
    width: 100%;
    padding: 0px;
}
main .tdih{
    width:50%;
    float: right;
}
main figure.mainphoto img{
    text-align: center;   
    margin: 0 0 0 0;    
}
main figure.mainphoto figcaption{
    text-align: center;
}
main h1{
    font-size: 1.8rem;
    height: 2rem;
    }
main h2{
    font-size: 1.5rem;
    height: 2rem;
    }
    main h3{
        height: 2rem;
        }
main p{
    font-size: 1rem;
}
section.currentweather p{
    margin:.25rem;
}
main h2.fiveday{
    display: none;
}
main table, th, td{
    position: absolute;
    visibility: hidden;
}
main section{ 
    position: absolute;
    visibility: hidden;
}
main div.gallery{
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure{
    flex-basis: 100%;
    margin: 1rem 2%;
}
div.gallery figure img{
    width: 100%;
}
div.gallery figure img:hover{
    box-shadow: 0 0 10px #ffa62f;
}
main.json{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

main.json article{
    width: 280px;
    margin: 2rem 2%;
    padding:5px;
    border:3px solid #ffa62f;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(27, 27, 27);
    transition: all .2s ease-in-out;
}
main.json article img{
    display:flex;
    margin: 0 auto;
    height:auto;
    width:250px;
    border-radius: 2px;
}
main.json article:hover{
    transform: scale(1.05); 
    }
 /*--------------Form----------------*/
 form fieldset{
    margin: 2rem 0;
    border: 1px solid #ffa62f;
    border-radius: 10px;
    padding: .5rem 2%;
 }
form legend{
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}
form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 130px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(255, 165, 47, 0.2);
}
form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn{
    border: none;
    background-color: #ffa62f;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid  6px;
}
form label.top input:required:valid{
    border-left: #648af2 solid 6px;
}
fieldset{
    max-width: 313px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #6965db ;
    padding: .2rem 1%;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1rem;;
    font-family: 'Roboto', sans-serif;
    color: #ffa62f;
}

footer p{
    font-size: .8rem;
    text-align: left;
    list-style-type: none;
    display: block;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
    column-count: 2;
    column-rule-width: 2rem;
}
footer p a{
    font-weight: bold;
    font-size:.8rem;    
}
footer p.date{
    text-align: center;
    padding: 1rem;
    font-size:.8rem;
}
footer p a.titles{
    color: #000;
}
footer p a.address{
    font-size: .6rem;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}